@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root {
    --font: 'Roboto Mono', monospace;
    --color-primary: #a7c957;
    --color-primary2: #a7c957;
    --color-nav: #6a994e;
    --color-nav-hover: #f2e8cf;
    --color-cosa1: #F0FFF1;
    --color-cosa2: #fefae0;
    --color-cosa3: #cfe1b9;
    --dark: #0c0d0d;
    --amarillo: #f5cd03;
    --espaniol: #3d10b8;
    --english: #e02b95;
    --html: orange;
    --css: blue;
    --js: yellow;
    --php: green;
    --git: red;
    --java: purple;
    --fill-size: -20%;
    /* --fill-size-html: -60%; */
    --fill-size-css: -40%;
    --fill-size-js: -85%;
    --fill-size-php: -90%;
    --fill-size-git: -85%;
    --fill-size-java: -60%;
    --fill-size-espaniol: -0%;
    --fill-size-english: -65%;
    --bar-color: pink;

}

html {
    box-sizing: border-box;
    /* background-color: #001219; */
    font-size: 62.5%;
    /* 1 rem = 10px */
    font-family: var(--font);

}

*, *:before, *:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;

}

h2::selection{
    background-color: var(--amarillo);
    color: var(--dark);
}
h1::selection{
    background-color: var(--amarillo);
    color: var(--dark);
}



.container-global {
    /* width: min(90%, 120rem); */
    margin: 0 auto;




}

.text-align-center {
    text-align: center;
}

/* ?bio*/
.bio__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 25rem; */
    width: 80%;
    height: 100%;
    background-color: var(--dark);
    color: #f7f7f7;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--font);
    border-radius: 0.5rem;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

.bio__img {
    max-width: 100%;
    display: flex;
    margin: 0 auto;
}

.bio__text {}

.bio__text--h2 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.bio__text--p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.bio__text--p::selection {
    background-color: var(--amarillo);
    color: var(--dark);
}


/* ?bio */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "bio nav-bar nav-bar"
        "bio cosa1 cosa2"
        "bio cosa1 cosa3";
}

.bio {
    grid-area: bio;
    background-color: var(--color-primary);
    padding: 4rem 4rem;


}

.nav-bar {
    grid-area: nav-bar;
    background-color: var(--amarillo);
}

.cosa1 {
    grid-area: cosa1;
    background-color: var(--color-cosa1);
}

.cosa2 {
    grid-area: cosa2;
    background-color: var(--color-cosa3);
}

.cosa3 {
    grid-area: cosa3;
    background-color: var(--color-cosa2);
}

/*! Nav-Bar  */

.nav-bar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #f7f7f7;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--font);
    border-radius: 0.5rem;
}

.nav-bar__item {
    padding-top: 1rem;
}

.nav-bar__item--a {

    /* color: #f7f7f7; */
    color: var(--dark);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    /* text-underline-offset: 0.5rem; */
    text-underline-offset: 0.9rem;
    text-transform: uppercase;

}


.nav-bar__item--a:hover {
    /* background-color: var(--color-nav-hover);
    font-size: 2rem;
    color: #a1be5b;
    text-decoration: overline; */
    text-decoration: none;
    background-color: var(--dark);
    font-size: 2rem;
    color: #f7f7f7;
    text-underline-offset: 0.9rem;
}

/**SPAN  */
.nav-bar__textos--para {

    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    font-size: 2rem;
    width: 24ch;
    padding: 0rem 0rem 0rem 1rem;

}

.nav-bar__textos--para {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 27ch;
    animation: typing 2s steps(25), blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {

    /* from, to { border-color: transparent; } */
    80% {
        border-color: transparent;
    }
}

/**Fin del SPAN  */

/*! Fin Nav-Bar */

/**Cosa1  */
.cosa1__contenedor {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    max-height: 100%;
    background-color: var(--color-cosa1);
    color: #f7f7f7; */

    max-width: 640px;
    max-height: 146px;
    padding: 1rem;
    margin: 0 auto;
    font-family: var(--font);
    background-color: var(--color-cosa1);
    /* box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.5); */
}

.cosa1__contenedor__tittle {
    text-align: justify;
}

.cosa1__contenedor__svg {

    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: var(--color-cosa1);
    color: #f7f7f7;
    font-family: var(--font);
    border-radius: .3rem;
    box-shadow: 1rem 1rem 1rem 1rem rgba(187, 181, 181, 0.5);

    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
}

/**Barras de Habilidades */
.cosa1__barras {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.progress-bar {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--html);
    /* transform: translateX(-100%); */
    /* animation: fill-bar 0.8s 0.3s ease-in-out forwards; */
    transform: translateX(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;

}

@keyframes fill-bar {
    to {
        transform: translate(var(--fill-size));
    }

}


.progress-bar--css {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar--css::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--css);
    transform: translateX(-100%);
    animation: fill-bar-css 0.8s 0.3s ease-in-out forwards;

}


@keyframes fill-bar-css {
    to {
        transform: translateX(var(--fill-size-css));
    }

}

.progess-bar--js {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progess-bar--js::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--js);
    transform: translateX(-100%);
    animation: fill-bar-js 0.8s 0.3s ease-in-out forwards;

}

@keyframes fill-bar-js {
    to {
        transform: translateX(var(--fill-size-js));
    }

}

.progress-bar--php {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar--php::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--php);
    transform: translateX(-100%);
    animation: fill-bar-php 0.8s 0.3s ease-in-out forwards;

}

@keyframes fill-bar-php {
    to {
        transform: translateX(var(--fill-size-php));
    }

}

.progress-bar--git {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar--git::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--git);
    transform: translateX(-100%);
    animation: fill-bar-git 0.8s 0.3s ease-in-out forwards;

}

@keyframes fill-bar-git {
    to {
        transform: translateX(var(--fill-size-git));
    }

}

.progress-bar--java {
    position: relative;
    width: 200px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar--java::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--java);
    transform: translateX(-100%);
    animation: fill-bar-java 0.8s 0.3s ease-in-out forwards;

}

@keyframes fill-bar-java {
    to {
        transform: translateX(var(--fill-size-java));
    }

}

/** FIN Barras de Habilidades */

/** INCIO COSA 2   */
.cosa2__contenedor {
    margin: 0 auto;
    max-width: 640px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cosa2__barras {

    display: flex;
    flex-direction: column;




}

.cosa2__languajes {
    display: flex;
    flex-direction: row-r;
    justify-content: space-around;
    /* align-items: stretch; */
}

.cosa2__languajesLevel {
    display: flex;
    flex-direction: row;
    column-gap: 4rem;
}

.cosa2__barras--espanol {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.cosa2__barras--espanol::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--espaniol);
    transform: translateX(-100%);
    animation: fill-bar-espanol 1.5s 0.3s ease-in-out forwards;
}


@keyframes fill-bar-espanol {
    to {
        transform: translateX(var(--fill-size-espaniol));
    }

}

.cosa2__barras--english {
    position: relative;
    width: 300px;
    height: 20px;
    background-color: #ddd;
    border-radius: 2em;
    overflow: hidden;
}

.cosa2__barras--english::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--english);
    transform: translateX(-100%);
    animation: fill-bar-english 0.8s 0.3s ease-in-out forwards;
}

.cosa2__barras--english::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--english);
    transform: translateX(-100%);
    animation: fill-bar-english 0.8s 0.3s ease-in-out forwards;
}

@keyframes fill-bar-english {
    to {
        transform: translateX(var(--fill-size-english));
    }

}

/**FIN COSAS 2  */

/**Incio Mi contact Info  */
.cosa3__container{
    margin: 0 auto;
    max-width: 640px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cosa3__h2{
    
    font-weight: bold;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}

.cosa3__contact-info{
    /* font-size: 1.3rem;
    font-weight: bold; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 0 auto;
    padding: 1rem;

    
    
}
.cosa3__contact-info a{
    /* padding-top: 1rem; */
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 1rem 1rem -1rem; ;
    margin: 1rem; 
    color: #0c0d0d;
    
}


/* *Fin mi contacto info */